:root{
    --red:#e50914;
    --black:#141414;
}

/*css reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*general header*/
body{
    background: var(--black);
    font-family: 'Arial', Times, serif;
    color: white;

    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/snk.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

header{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(30,0,10,.60),rgba(0,0,0,.0)100%);

}

header .logo a{
    color: var(--red);
    font-family: 'Arial Black', Times;
    Font-size: 40px;
    padding: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header a{
    align-items: center;
    padding: 8px;
    margin: 5px;
    
    text-decoration: none;
    color: #AAA;
}

header nav a:hover{
    color: #FFF;
}

.avatar-perfil{
    width: 55px;
    margin: 5px;
}

/*elementos filme principal*/
.main-film{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 400px;
    max-width: 500px;
    font-size:16px;
    padding: 20px;
}

.title-main-film{
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-bottom: 7px;
}

button{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    font-size: 12px;

    padding: 15px 30px;
    margin-right: 15px;
    margin-top: 15px;
    
    cursor: pointer;
    transition: .2s ease all;
}

button:hover{
    background-color: white;
    color: black;
}

/*carrosel films style*/

.carrosel-films{
    background-color: #141414dc;
}

.mini-films{
    display: flex;
    cursor: pointer;
}